{% extends 'base.html' %}

{% block header %} 
<h1>
    {% block title %}Index{% endblock %}
</h1>
{% endblock %}

{% block content %}
    {% if g.user['admin'] == 1 %}
        <form action="/blog/createtopic" method="GET">
            <input type="submit" value="Create Topic", name="submitbutton">
        </form>
    {% endif %}
    <div class="list-container">
        {% for topic in topics %}
            <div class="topic">
                <a class="topic-title" href="{{ url_for('blog.topic', topic_title=topic['title']) }}">
                    <div>
                        <p >{{ topic['title'] }}</p>
                    </div>
                </a>
                {% if g.user['admin'] == 1 %}
                    <div class="edit-div">
                        <a href="">
                            <p>Edit</p>
                        </a>
                        <a href="">
                            <p>Delete</p>
                        </a>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>

{% endblock %}